.card {
    border: none!important;
}
.modal{
    background:white;
    width: 30%;
    height: 50%;
    margin:200px auto;
    margin-top:10%;
}
.card-title {
    text-align: center;
    color:#606060;
}
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.con0 {
    margin-left: auto;
    margin-right: auto;
}
.mt-6 {
    margin-top: 10rem!important;
}
.br{
    border-radius: 3px;
}
.con1 {
    margin: 4rem auto;
}
.gform {
    margin-left: 2.5rem!important;
}
.card-text{
    text-align: justify !important;
}
.cdt {
    width: 760px !important;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ml-9{
    margin-left: 315px;
}
.mr-9{
    margin-right: 100px !important;
}