@import './navbar.scss';
@import './contactUs.scss';
@import './home.scss';
@import '_slickfix.scss';
@import '../../node_modules/slick-carousel/slick/slick.scss';
@import '../../node_modules/slick-carousel/slick/slick-theme.scss';

.main {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    flex-basis: 8000px;
    flex-grow: 2;
    flex-direction: column;
}
.footer{
    background: black;
    flex-basis: 100px;
    color:white;
}